<nav class="navbar navbar-default navbar-fixed-top" style="background-color: transparent; border-bottom: 0">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!--<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " href="#" style="font-family: 'Righteous', cursive; font-size: 29px">KochTech</a>
    </div>-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" style="font-family: 'Righteous', cursive; font-size: 18px">Blog</a></li>
        <li><a href="#" style="font-family: 'Righteous', cursive; font-size: 18px">Sobre</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div style="height: 400px; width: 100%; position: relative;">
  <div style="filter: brightness(50%);opacity: 0.9 ;background-image: url(https://cdn-images-1.medium.com/max/1600/1*KnxL-io3VScKa4laU1RZfg.jpeg); background-repeat: no-repeat; background-position: 50% 50%; height: 100%; width: 100%; position:absolute">
  </div>
  <div style="position: absolute; z-index: 2; height: auto; width: 100%; padding-top: 10%; ">
    <h1 style="color: white; text-align: center; font-family: 'Righteous', cursive; font-size: 45px;">KOCHTECH</h1>
    <hr style="width: 50%">
    <h3 style="color: whitesmoke; text-align: center">Desenvolvimento em desenvoltura</h3>
  </div>
</div>
<h1>Welcome</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to 'New Article', new_article_path %>
<div class="footer navbar-fixed-bottom"></div>